name: Access output from other workflow

on: [push]

jobs:
  call-reusable-job-ouput-workflow:
    uses: ./.github/workflows/reusable_job_output.yml

  print-output:
    runs-on: ubuntu-latest
    needs: call-reusable-job-ouput-workflow
    if: ${{ needs.call-reusable-job-ouput-workflow.outputs.firstword == 'hello' }} 
    steps:
      - run: |
          echo first word is ${{ needs.call-reusable-job-ouput-workflow.outputs.firstword }}
          
