# file which will check pylint errors on .py files

#name of workflow
name: Pylint check

#event which triggers this workflow
on: 
  workflow_call: 
    outputs:
      pylint_result:
        description: "Variable to store pylint result"
        value: ${{ jobs.Pylint-Check.outputs.pylint_status }}

#list of jobs to run
jobs:
    #name of a jobs defined here

    #check pylint on .py files
    Pylint-Check:
        #where will this run
        runs-on: ubuntu-latest
        outputs:
          pylint_status: ${{ steps.pylint.outputs.pylint_status }}
        #list of steps to be executed
        steps:
            - name: Get code
              uses: actions/checkout@v4
              with:
                ref: ${{ github.head_ref }} #source branch name
                

            - name: Display Github Context
              run: echo "${{ toJson(github) }}"

            - name: Run pylint check
              id: pylint
              run: |
                echo "Running dummy pylint"
                echo "pylint_status=true" >> $GITHUB_OUTPUT