# file which will check pylint errors on .py files

#name of workflow
name: Pylint check

#event which triggers this workflow
on: workflow_call

#list of jobs to run
jobs:
    #name of a jobs defined here

    #check pylint on .py files
    Pylint-Check:
        #where will this run
        runs-on: ubuntu-latest
        #list of steps to be executed
        steps:
            - name: Get code
              uses: actions/checkout@v4

            - name: Check branch
              run: git branch

            - name: Run pylint check
              run: echo "Work in progress"