# file which will check pylint errors on .py files

#name of workflow
name: Pylint check

#event which triggers this workflow
on: 
  workflow_call: 
    outputs:
      pylint_result:
        description: "Variable to store pylint result"
        value: ${{ jobs.Pylint-Check.outputs.pylint_status }}

#list of jobs to run
jobs:
    #name of a jobs defined here

    #check pylint on .py files
    Pylint-Check:
        #where will this run
        runs-on: ubuntu-latest
        outputs:
          pylint_status: ${{ steps.pylint.outputs.pylint_status }}
        #list of steps to be executed
        steps:
            - name: Get code
              uses: actions/checkout@v4
              with:
                fetch-depth: 0 # fetch all history for all tags and branches

            - name: Display Github Context
              run: echo "${{ toJson(github) }}"

            - name: Run pylint check
              id: pylint
              run: |
                echo "Running dummy pylint"
                echo "pylint_status=failed" >> $GITHUB_OUTPUT
            
            - name: Post comment on PR
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                COMMENT="pylint check ${{ steps.pylint.outputs.pylint_status }}"
                gh pr comment ${{ github.event.pull_request.number }} --body "$COMMENT"
            
            - name: Fail if pylint failed
              if: ${{ steps.pylint.outputs.pylint_status == 'fail' }}
              run: exit 1
              