# workflow which will get list of files changed in PR

#name of workflow
name: Changed files

#event which triggers this workflow
on: workflow_call

#list of jobs to run
jobs:
    List-of-files-in-pull-request:
        runs-on: ubuntu-latest
        steps:
          - name: Get code
            uses: actions/checkout@v4
            with:
              ref: ${{ github.head_ref }} #source branch name

          - name: Fetch base branch
            id: base_branch
            run: |
             echo "git fetch ${{ github.base_ref }} --depth=1"
             git fetch origin ${{ github.base_ref }} --depth=1

          - name: List of changed files in PR
            id: changed_files
            run: |
             echo "Getting list of files changed between ${{ github.head_ref }} and ${{ github.base_ref }}"
             changed_files=$(git diff --name-only ${{ github.base_ref }} ${{ github.head_ref }} | tr '\n' ' ')
             echo "changed_files=$changed_files" >> $GITHUB_ENV
             echo "Changed Files: $changed_files"
