# file which displays github context and other useful information which can be used in other workflows while developing

#name of workflow
name: Github Actions Output

#event which triggers this workflow
on: workflow_dispatch

#list of jobs to run
jobs:
    #Github output
    Github-Actions-Output:
        #where will this run
        runs-on: ubuntu-latest
        #list of steps to be executed
        steps:
            - name: Display Github Context
              run: echo "${{ toJson(github) }}"