# file which will run set of test

#name of workflow
name: Run system test

#event which triggers this workflow
on: 
    workflow_call:
        outputs:
            test_result:
                description: "Variable to hold test result status"
                value: ${{ jobs.Run-System-Test.outputs.test_status }}

#list of jobs to run
jobs:
    #name of a jobs defined here
    
    #run the test
    Run-System-Test:
        #where will this run
        runs-on: ubuntu-latest
        outputs:
            test_status: ${{ steps.test_result.outputs.test_output }}
        #list of steps to be executed
        #to simulate failure in step-1, use exit 1
        steps:
            - name: Run System Test
              id: system_test
              run: |
                echo "Work in progress"
                echo "Run test 1"
                echo "Run test 2"

            - name: Create package
              id: create_package
              #create package only if system test is passed
              if: ${{ steps.system_test.conclusion == 'success' }}
              run: echo "create package"
            
            - name: Test Results
              id: test_result
              run: |
                echo "Getting dummy test results"
                echo "test_output=true" >> $GITHUB_OUTPUT